<div class="todo-container">

  <div class="todo-heading">Todo App</div>

  <div class="add-todo-container">
    <div class="add-todo-wrapper">
      <input type="text" placeholder="write your todos here" [(ngModel)]="todoInputValue" #todoInputElem>
      
      <div *ngIf="edit; then editBtn else addBtn"></div>
        <ng-template #editBtn>
          <span class="cross-btn" (click)="editTodoFromInput()">✍️</span>
        </ng-template>
        <ng-template #addBtn>
          <span class="add-btn" (click)="addTodo()">➕</span>
        </ng-template>
   
    </div>
  </div>

  <div class="todo-item-container">
    <div class="todo-item" *ngFor="let todo of todoArray; index as i">
      <input type="checkbox" />
      <div class="text">{{todo}}</div>
      <div class="todo-buttons">
        <span class="cross-btn" (click)="deleteTodo(i)">❌</span>
        <span class="cross-btn" (click)="editTodo(i,todoInputElem)">✍️</span>
      </div>
    </div>
  </div>

</div>